
  
 <p> One more component</p>
<h5>Attribute Directives</h5>
<p [ngClass]="{classOne:cone,classTwo:ctwo}">ngclass property</p>

<p [ngStyle]="{'font-style':style, 'font-size':size}">ngstyle property</p>
<button (click)="toggle()">Toggle</button> <br/>

<p *ngIf="showme">structural directive</p>

<div class="container">
	<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
		<div class="form-group">
			<label>Name:</label>
			<input type="text" class="form-control" name="name" [(ngModel)]="name"> 
			<p>Your name is {{name}}</p>
		</div>
		<div class="form-group">
			<label>Email:</label>
			<input type="text" class="form-control" name="email" ngModel> 
		</div>
		<div ngModelGroup="Address">
		<div class="form-group">
			<label>Street:</label>
			<input type="text" class="form-control" name="street" ngModel> 
		</div>
		<div class="form-group">
			<label>City:</label>
			<input type="text" class="form-control" name="city" ngModel> 
		</div>
		<div class="form-group">
			<label>Postal Code:</label>
			<input type="text" class="form-control" name="postalCode" ngModel> 
		</div>
	</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
