<form>
 	First Name: <input type="text" value="Afsha" placeholder="First Name"><br><br>
 	Last Name: <input type="text" value="Mohammed" placeholder="Last Name"><br><br>
 	Gender: <input type="radio" name="gender">Male
 			<input type="radio" name="gender">Female
 			<input type="radio" name="gender">Others<br><br>
 	Contact No. <input type="tel" name="tel" placeholder="Telehone number"><br><br>
 	Email Address: <input type="email" name="email" placeholder="Email Address"><br><br>
 	Today's Date: <input type="date" name="date"><br><br>
 	Faviorite Color: <input type="color" name="color"><br><br>
 	<button>Submit</button><br><br>
</form>
<ng-content></ng-content>

